@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.formatted-content h1 {
  font-size: 2rem; /* Equivalent to text-4xl */
}

.formatted-content h2 {
  font-size: 1.75rem; /* Equivalent to text-3xl */
}

.formatted-content h3 {
  font-size: 1.5rem; /* Equivalent to text-2xl */
}

/* Ensure ordered lists display numbers properly */
.formatted-content ol {
  list-style-type: decimal;  /* This ensures numbers are displayed */
  padding-left: 1.5rem;      /* Adds space to the left */
  margin-bottom: 1rem;       /* Adds space after the list */
}

.formatted-content ol li {
  margin-bottom: 0.5rem;     /* Adds space between list items */
}

/* Ensure unordered lists display bullets properly */
.formatted-content ul {
  list-style-type: disc;  /* This ensures bullets are displayed */
  padding-left: 1.5rem;   /* Adds space to the left for bullets */
  margin-bottom: 1rem;    /* Adds space after the list */
}

.formatted-content ul li {
  margin-bottom: 0.5rem;  /* Adds space between list items */
}

.ql-editor img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  max-height: 600px;
}
